.checkout-form {
    margin: 2.5rem 0rem 3rem;
    flex-wrap: wrap;
    gap: 3rem;
}

/* utility class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.checkout {
    border-radius: 1rem;
    border: 1px solid red;
    width: 90%;
    max-width: 27rem;
    padding: 0.7rem 2rem 1rem;
    cursor: pointer;
}

form.checkout h3 {
    text-align: center;
    color: red;
}

.form-group {
    margin: 0.5rem;
    gap: 1rem;
}

.form-group input {
    padding: 1rem;
    width: 50%;
    border: 1px solid red;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    cursor: pointer;

}

.address textarea {
    border: 1px solid red;
    outline: none;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 0rem 0rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.order-btn {
    margin-top: -1rem;
}

.order-btn button {
    padding: 1rem;
    margin-top: 2rem;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.order-btn button:hover {
    background-color: #ec0404;
    transform: scale(1.04);
    transition: transform 0.5s ease-in-out;
}

/* order detail table styling */

.order-detail table {
    width: 90%;
    max-width: 700px;
    border-collapse: collapse;
}

table.checkout-table tr {
    border-bottom: 1px solid red;
    cursor: pointer;
}

table.checkout-table td,
th {
    text-align: center;
    padding: 1rem;
}

table.checkout-table tr th.grand-total-price {
    color: red;
}

table.checkout-table tr td {
    font-size: 0.9rem;
}

table.checkout-table tr:hover {
    background-color: #f06f6f;
    color: white;
}


@media(max-width:450px) {
    .form-group {
        flex-direction: column;
    }

    .form-group input {
        width: 100%;
    }
}