/* Footer main container */
.footer {
    background-color: #f6f4f4;
    padding: 3rem 0 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    margin-top: 3rem;
}

.footer-links ul {
    list-style-type: none;
    gap: 2rem;
}

.footer-links ul li:hover {
    color: red;
    cursor: pointer;
}

.footer-social-icons {
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-social-icons img {
    background-color: #ccc6c6;
    padding: 3px;
    border-radius: 5px;
}

.footer-text p {
    font-size: 0.8rem;
}


/*responsive style for small devices*/
@media(max-width:550px) {
    .footer-logo img {
        width: 4rem;
    }

    .footer-logo h2 {
        font-size: 1.3rem;
    }

    .footer-links ul {
        gap: 1rem;
    }

    .footer-links ul li {
        font-size: 0.8rem;
    }

    .footer-social-icons img {
        width: 1.5rem;
    }

    .footer-text p {
        font-size: 0.7rem;
    }
}